/* Set the page background color to light gray */
body {
    background-color: rgb(185, 182, 182);
    margin: 40px;
    text-align: center;
}

/* Center all headings (h1, h2, h3, etc.) horizontally */
h1, h2, h3, h4, h5, h6 {
    text-align: center;
    color: rgb(1,7, 40);
}

/* Default styles for all devices */
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
  }
  
  .item {
    padding: 20px;
    text-align: center;
    /* Add any other common styles for items here */
  }
  
  /* Styles for devices with a maximum width of 768px (e.g., mobile devices) */
  @media screen and (orientation: portrait) {
    .container {
      grid-template-columns: repeat(1, auto);
      grid-template-rows: repeat(6, auto);
      font-size: large;
    }
  }
  
  